<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inizial-scale=1">
  <link rel = "stylesheet" href = "css/leggiInfo.css"/>
  <title>Informazioni Museo</title> </head>
<body>
	<
    	<h1><span>Panoramica Museo</span></h1>
    	<h1><a href="prenotazioni"><span>Prenotazioni</span></a></h1>
    	<section>
		<p>Il museo ha preso il nome dal palazzo che lo ospita. Originariamente era una fortezza, costruita alla fine del XII secolo durante il regno del re capetingio Filippo II,[3] nei rifacimenti successivi fu sede reale e governativa.

La conformazione attuale del palazzo origina dai lavori ordinati da Carlo V di Francia nella seconda metà del XIV secolo.[4] Fu la sede effettiva della monarchia francese fino al 1682, quando Luigi XIV si trasferì nella Reggia di Versailles, rimase comunque la sua sede formale fino al termine dell'Ancien Régime nel 1789. Fu il governo rivoluzionario a dare piena attuazione a progetti già avviati di trasformazione in museo, inaugurandolo come tale nel 1793, anche se il palazzo continuò ad ospitare enti governativi fino agli anni novanta.

Per iniziativa del presidente Mitterrand fu sottoposto a lavori di ampliamento negli anni ottanta e novanta secondo il progetto denominato Grand Louvre, che comprende la caratteristica piramide di vetro e acciaio nel cortile principale.

Il ruolo centrale della Francia nella storia dell'ottocento contribuì grandemente all'accrescimento della collezione museale, che comprende alcune delle più famose opere d'arte del mondo e manufatti di grande valore storico, come la stele degli avvoltoi e quella di Hammurabi.

Vi sono esposte la Gioconda e la Vergine delle Rocce di Leonardo da Vinci, le Nozze di Cana (Veronese), due Prigioni di Michelangelo Buonarroti, Bacco e Arianna di Giambattista Pittoni, Amore e Psiche di Antonio Canova, Il giuramento degli Orazi di Jacques-Louis David, La zattera della Medusa di Théodore Géricault, La Libertà che guida il popolo di Eugène Delacroix, la Venere di Milo e la Nike di Samotracia, il Codice di Hammurabi.

La statua equestre di Luigi XIV rappresenta il punto di origine del cosiddetto Axe historique, anche se il palazzo non è allineato con l'asse stesso.</p>
    	</section>
    
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>