<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, inizial-scale=1">
  <link rel = "stylesheet" href = "/css/prova.css"/>
  <title>index</title>
</head>
<body>
	<h1>Login Admin</h1>
    <div>
    	<h4 th:text="#{header.index}">Welcome Page</h4>
		<div>
			<a th:href="@{/login}" th:text="#{index.login}">Accedi</a>
   		</div>
		<!--<div>
			<a th:href="@{/register}" th:text="#{index.register}">Registrati</a>
   		</div>-->
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>