body{
	text-align: center;
	background-image: url(https://a.travel-assets.com/findyours-php/viewfinder/images/res40/194000/194770-share-image.jpg);
}

h1{
	height:50px;
}
span{
	border:solid;
	background-color: white;
	border-color: black;
}
nav{
	height:50px;
	border:solid;
}


section {
  background-color: white;
  margin: 75px 100px;
  border:solid;
  
}
