<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles(pageTitle)">
		<meta charset="UTF-8" />
		<link th:href="@{/css/my-style1.css}" rel="stylesheet">
		<title th:text="${pageTitle}">Museo degli Uffizi</title>
		<script>
			/* Cambia il parametro dell'url in base alla lingua '*/
			function updateLanguage() {
				var selectedLanguage = document.getElementById("language").value;
				var currentURL = window.location.href;
			  
			  	/* Trova l'indice al quale c'è il parametro lang */
				var indexOfLanguageParameter = currentURL.search("\\?lang=");
			  
			  	var noLanguageParameterURL = "";
			  	/* E' stato trovato un parametro language da eliminare! '*/
				if(indexOfLanguageParameter != -1){
					/* Attenzione! Taglia fuori TUTTI i parametri successivi a lang!*/
					noLanguageParameterURL = currentURL.substring(0, indexOfLanguageParameter);
				}
				else noLanguageParameterURL = currentURL;
			  
			  	/* Ricarica la pagina con il parametro corrente */
				window.location.replace(noLanguageParameterURL + "?lang=" + selectedLanguage);
			}
			
			/* Fà tornare l'utente indietro di una pagina '*/
			function goBack() {
				window.history.back();
			}
		</script>
	</head>
	
	<body>
		
		
		<div class="panel" th:fragment="fondo">
			<a th:href="@{/}">
				<button class="btn" th:text="#{footer.home}">Home</button>
			</a>
			
		</div>
	</body>
</html>