<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.formOpera})"> </head>
<body>
	<h1>Inserisci opera</h1>
	<div>
		<h4>Inserisci i dati di una persona</h4>
	</div>
	<form th:action="@{/operaXXX}" method="POST" th:object="${opera}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>		
		<div>
			<div>
				<span>Titolo:</span>
				<span><input type="text" th:field="*{titolo}" /></span>
				<span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></span>
			</div>
			<div>
			    <span>Immagine</span>
			    <span><input type="text" th:field="*{immagine}" /></span>
			</div>		
			<div>
				<span>Anno:</span>
				<span><input type="text" th:field="*{anno}" /></span>
			</div>
			<div>
			    <span>Descrizione</span>
			    <span><input type="text" th:field="*{descrizione}" /></span>
			</div>
			<div>
			   <span>Nome artista</span>
			   <span><input type"text" th:field="${opera.artista.nome}"/></span><br/>
			   <span>Cognome artista</span>
			   <span><input type"text" th:field="${opera.artista.cognome}"/></span>
			</div>
			  <!--<div>
			   
			   <span><input type"text" th:field="${opera.collezione.nome}"/></span>
			   <div/>-->
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>