<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head <meta charset="utf-8">
<meta name="viewport" content="width=device-width, inizial-scale=1">
<link rel = "stylesheet" href = "css/info.css"/>
<title>Storia della Palestra</title> </head>
<body>
<h1><span>Storia della Palestra</span></h1>
    	
    	<section>
		<p>Joe Gold aprì la prima Gold's Gym nell'agosto del 1965, a Venice Beach, in California[2], molto prima che esistesse il moderno centro benessere. Dotato di attrezzature fatte in casa e soprannominato "La Mecca del bodybuilding", è stato frequentato da Arnold Schwarzenegger e Dave Draper e presentato nel docu-drama Pumping Iron (1977), che ha attirato l'attenzione non solo sulla palestra ma anche sul bodybuilding e fisico in generale. Fino ad oggi la Gold's Gym è considerata un punto di riferimento nella cultura del bodybuilding raggiungendo lo status di cult[3][4].

Nel 1970, Gold vendette la palestra in fallimento in quel momento a Bud Danits, un antiquario, e Dave Saxe, un gioielliere. Gestirono la palestra per quasi due anni fino a quando si resero conto che non era possibile mantenerla. La offrirono a un membro della palestra, Ken Sprague, che la acquistò alla fine del 1971 e la Gold's fu salvata come palestra. Sprague è stato il primo proprietario della Gold's a sponsorizzare e organizzare gare di bodybuilding, le sue capacità promozionali e i contatti con l'industria cinematografica che hanno contribuito a costruire il profilo della struttura.</p>
    	</section>
    	<div id="flex-container">
    	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Gold%27s_Gym_North_Round_Rock.tif/lossy-page1-1280px-Gold%27s_Gym_North_Round_Rock.tif.jpg" />
    	</div>
    	
    
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>