<!DOCTYPE html>
<html lang="it" xml:lang="it" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base1.html :: headerfiles(pageTitle=#{page.title.successfulOperation})"> </head>
	<body>
	
		<div th:replace="fragments/base1.html :: logo" />
	    
	    <div class="container">
	    	
	    	<div class="bgorange bordered panel">
		    	<span th:text="#{successfulOperation.message}">L'operazione è avvenuta con successo!</span><br>
		    	<a th:href="@{/login}">
					<button class="btn" type="button" th:text="#{successfulOperation.backToPrivateArea}">Torna nll'Area Privata</button>
				</a>
	   		</div>
	   		
			
			
			<div th:replace="fragments/base1.html :: fondo" />
	    </div>
	    
	</body>
</html>